html {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #000;
    font-family: Verdana;
    overflow: hidden;
}

body {
    width: 1000px;
    height: 100vh;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 8px #000000;

}

/********* TOPO *********/
#topo {
    display: inline-flex;
    background-color: #659DBD;
    width: 100%;
    height: 110px;
}

#topo img {
    width: 25em;
}

nav {
    width: 100%;
    vertical-align: middle;
}

nav a {
    font-size: 1.2em;
    font-weight: bold;
    color: #231E52;
    line-height: 110px;
    margin: 0 auto;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    background-color: #FBEEC1;
}

ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 0.8em;
}

/********* FOOTER *********/
footer {
    width: 100%;
    bottom: 0;
    background-color: #FBEEC1;
    /*background-color: #BC986A;*/
    /*background-color: #A6C1D5;*/
}

footer div {
    width: 55%;
    margin: 0 auto;
    padding: 1%;
    font-size: 0.8em;
}

footer div a {
    display: block;
}

#alunos {
    width: 47%;
    margin: 0 auto;
    font-weight: bold;
}

#copyright {
    width: 80%;
    margin: 0 auto;
}

/********* TÍTULOS *********/
h1 {
    color: red;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

